.footer{
    
    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center;

    


    .container{
        @include breakpoint-up(large){// styles for desktop
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 3fr ;  // for creating columnss
            grid-template-rows: 1fr auto;    // rows
            grid-template-areas: "logo links1 links2 cta"  // assigning names to each row in the column row1
                                  "social links1 links2 copyright";// row 2
            gap: 1rem;
            justify-items: start;
        }
    }
   
    &__logo{
       // border: 2px solid green;
        @include breakpoint-up(large){
            grid-area: logo;  // name for the logo space in the grid template area
        }
        display: inline-block;
       
        @include breakpoint-down(medium){ margin-bottom: 1.875rem;}
       
    }

    a {
        color: $white;
    }

    &__social{
       // border: 2px solid green;
        @include breakpoint-up(large){
            grid-area: social;  // name for the logo space in the grid template area
            align-self: end;
        }
        
        @include breakpoint-down(medium){ margin-bottom: 1.875rem;}
    
        a {display:inline-block;
            height: 1.25rem;

            svg path{
                transition: fill 150ms ease-in-out;
            }

            &:hover svg path{
                fill: $limegreen;
            }
        }
        
        a:not(:last-child){
            
            margin-right: 1rem;
        }
        
    }

    &__links{
       // border: 2px solid green;
        display: flex;
        flex-direction: column;// stack flex items ontop each other against side by side
        align-items: center;
        font-size: 0.9375rem;

        a {
            
                line-height: 2.25;
                transition: color 150ms ease-in-out;

                &:hover{
                    color:$limegreen;
                }
            }

        @include breakpoint-up(large){
            justify-content: space-between;
            align-items: start;  // align items to the beginning i.e left
            

        }


        &.col1{
            @include breakpoint-up(large){
                grid-area: links1;  // name for the logo space in the grid template area
            }
            
        }

        &.col2{ 
            @include breakpoint-up(large){
                grid-area: links2;  // name for the logo space in the grid template area
            }
            @include breakpoint-down(medium){margin-bottom: 1.875rem;
            }
            
        }

       
    }

    &__cta{//border: 2px solid green;
        @include breakpoint-up(large){
            grid-area: cta;  // name for the logo space in the grid template area
            text-align: right;
            justify-self: end;
            
        }
       
        }
        a.button {
           @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }
    }

    &__copyright{
        font-size: 0.8125rem;
        color: $grayishBlue;
        @include breakpoint-up(large){
            grid-area: copyright;  // name for the logo space in the grid template area
            justify-self: end;
            align-self: end;
            line-height: 2.25;
        }
    }
}